/*style -site*/
h1{
	color:grey;
	background-color:red;
}
.vamsi{
   width:30%;
   background-color:green; 
   color:white;
   border:50px solid black;  
   margin:30px; 
   padding:20px;   
}